# General
target/
bin/

# Compiled class file
*.class
application-harrish.yml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# InteliJ
.idea
.mvn
.vertx
.editorconfig
*.iml
*.eml
*.log
*.swp

# Eclipse
/.metadata
/local.properties
.settings/
/.loadpath
/.recommenders
/.factorypath
.classpath
.project
.springBeans

.vagrant

application-local.yml
application-local.properties
application-local.xml


# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# IntelliJ
out/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
resource-manager/.DS_Store
resource-manager/src/main/java/com/tesco/transport/resource/.DS_Store
.DS_Store
